@model IEnumerable<prestamoHerramientas.Models.Marca>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Marcas</h1>

<p>
    <a asp-action="create" class="btn btn-success">Agregar Nueva Marca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Marca
            </th>
            <th>
                Descripción
            </th>
            <th>
                Exactitud
            </th>
            <th>
                Tipo de Herramienta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exactitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoHerramientaNavigation.TipoHerramienta1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMarca" class="btn btn-info">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMarca" class="btn btn-primary">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMarca" class=" btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
