@model IEnumerable<prestamoHerramientas.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PreatadoA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIncio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMarcaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdModeloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PreatadoA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIncio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarcaNavigation.IdMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModeloNavigation.IdModelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestamo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestamo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestamo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
