@model IEnumerable<prestamoHerramientas.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Lista de Prestamos</h1></center>
<hr />
<br />
<div class="row justify-content-between">
    <div class="col-4">
        <p>
            <a asp-action="create" class="btn btn-sm btn-success">Agregar Nuevo Prestamo</a>
        </p>
    </div>
    <div class="col-4">
        <p>
            <a asp-action="crearExcel" class="btn btn-sm btn-success">Descargar Excel</a>
        </p>
    </div>
    <div class="col-4">
        <form asp-controller="Prestamos" asp-action="Index">
            <p>
                Buscar: <input type="text" name="buscar" placeholder="Busqueda por Equipo o Marca" class="form-text" />
                <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
            </p>
        </form>
    </div>
</div>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Prestado A:
            </th>
            <th>
                Fecha del Prestamo
            </th>
            <th>
                Fecha de devolución
            </th>
            <th>
                Estado
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PreatadoA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIncio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @{
                        var envio = item.Estado == 1 ? "Prestado" : "Disponible";
                    }
                    @Html.Raw(envio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMarcaNavigation.NombreMarca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdModeloNavigation.Serie)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPrestamo" class="btn btn-sm btn-info">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPrestamo" class="btn btn-sm btn-primary">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPrestamo" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
